service-category/src/main/resources/category.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://miempresa.com/ws"
           targetNamespace="http://miempresa.com/ws" elementFormDefault="qualified">

<xs:element name="getCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="category" type="tns:category"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="image" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>